:root {
  --accent-01: #e42945;
  --accent-01: hsl(351, 78%, 53%);
  --accent-0102: #ed542a;
  --accent-02: #febe10;
  --accent-04: #296ada;
  --accent-05: #fe79ae;
  --dark: #000;
  --white: #fff;
  --grey: #aaa;
  --gray: #787878;
  --group-01-accent-03: #bec63e;
  --group-01-accnet-0302: #37ba79;
  /*  */
  --box-shadow-offset: 5px;
  --box-shadow-size: 2px;

  /*  */
  --img-hero-offset: 20rem;
  --img-margin-top: 2rem;
  --multiplier: 1;
  --offset: 5rem;
  /*  */
  --offset-side-imgNsvg-mobile: 5rem;
  --offset-text-direct-img-mobile: 5rem;
  /*  */
  --offset-sec-in-MIDDLES: 1rem;
}
* {
  padding: 0;
  margin: 0;
  border-radius: 1.2rem;
  box-sizing: border-box;
  /*  */
  /*!for test - border */
  /* border-width: 0.1px !important;
  border: solid var(--dark, #000); */
  /* --- */
  color: var(--dark);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  z-index: -1;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

svg:not(.no-shadow) {
  filter: drop-shadow(
    2px 5px 0px rgb(0, 0, 0, 1)
  ); /* Adjust values as needed */
}

/* svg:not(.no-shadow) {
  animation: wiggle 5s ease-in-out infinite;
}

/* Apply different delays to each element */
svg:not(.no-shadow):nth-child(1) {
  animation-delay: 2s;
}

svg:not(.no-shadow):nth-child(2) {
  animation-delay: 0.2s;
}

svg:not(.no-shadow):nth-child(3) {
  animation-delay: 0.4s;
}

/* &1 HEADS */
:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Chango", sans-serif;
}

h1 {
  font-size: 6.5rem;
  color: var(--accent-0102);
  -webkit-text-fill-color: var(--accent-01);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark);
  filter: drop-shadow(
    1px 5px 0px rgb(0, 0, 0, 1)
  ); /* Adjust values as needed */
}
h2 {
  font-size: 3rem;
  color: var(--dark);
  -webkit-text-fill-color: var(
    --white
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark);
  filter: drop-shadow(
    1px 5px 0px rgb(0, 0, 0, 1)
  ); /* Adjust values as needed */
}
h3 {
  font-size: 3rem;
}
h5 {
  font-size: 1.5rem;
}
/* &1 BUTS and A*/

button {
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  /*  */
  padding: 10px 20px;
  cursor: pointer;

  /*  */
  border-radius: 0.5rem;
  border: 0.2px solid var(--dark, #000);
  text-transform: uppercase;
}
a {
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
}
/* ||| */

.Whole-Site {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  */
  border: 0 solid rgb(208, 255, 80);
  /* max-width: 1024px; */
  width: 98vw;
  margin: auto;
}

/* &1 HERO */
.Hero-sec {
  height: 96vh;
  width: 96vw;
  display: flex;
  border-radius: 2rem 2rem 4rem 4rem;
  background-color: var(--accent-02);
  border: 2px solid var(--dark);
  position: relative;
  /* padding: 4rem 0 0; */
  /* --- */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* --- */
  flex-direction: row;
  margin: 2vh 2vw;
}
.Hero-sec .main {
  /* position: static; */
  z-index: 1;
  /*  */
  flex: 1; /* Allow the main element to grow and fill the remaining space */
  display: flex;
  flex-direction: column;
  /* min-width: 30rem; */
  width: 30%;
  margin: 2% 20% 0;
}
.Hero-sec .main .img-container {
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 0 calc(-1 * var(--img-hero-offset) - var(--img-margin-top)) 0;
  padding: 1rem 0 0 0;
}

.Hero-sec .main img {
  object-fit: cover;
  position: relative;
  top: calc(var(--img-hero-offset));
  /*  */
  margin: calc(-1 * var(--img-hero-offset)) auto;
  z-index: 5;
  height: 100%;
  /* width: 100%; */
  /* scale: 2; */
}

.side {
  position: absolute;
  height: 100%;
  /* top: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* transform: translateY(-50%); */
  width: 30%;
}

.side-left {
  left: 0;
  align-items: flex-start;
}

.side-right {
  right: 0;
  align-items: flex-end;
}
.side svg {
  /* z-index: -5; */
  border-radius: 0;
  /* width: 100; */
  transform: scale(1.2);
}
/*&3 left side */

.side-left svg:nth-of-type(1) {
  position: relative;
  top: 10%;
  left: 30%;
  transform: rotate(50deg);
}

.side-left svg:nth-of-type(2) {
  position: relative;
  top: 10%;
  left: 50%;
}

.side-left svg:nth-of-type(3) {
  position: relative;
  top: 15%;
  left: 20%;
}
.side-left svg:nth-of-type(4) {
  position: relative;
  top: 5%;
  left: 80%;
}
/*&3 right side */

.side-right svg:nth-of-type(1) {
  position: relative;
  top: 7%; /* Adjusted from 10% */
  right: 28%; /* Adjusted from 30% */
  transform: rotate(50deg);
}

.side-right svg:nth-of-type(2) {
  position: relative;
  top: 13%; /* Adjusted from 10% */
  right: 53%; /* Adjusted from 50% */
}

.side-right svg:nth-of-type(3) {
  position: relative;
  top: 12%; /* Adjusted from 15% */
  right: 18%; /* Adjusted from 20% */
}

.side-right svg:nth-of-type(4) {
  position: relative;
  top: 2%; /* Adjusted from 5% */
  right: 78%; /* Adjusted from 80% */
}

/* &1 MIDDLES */

.Whole-mid-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
}
/* background grid */
.Whole-Middles {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  */
  /* grid background */
  background-color: rgba(255, 255, 255, 0.438);
  background-size: 20px 20px; /* Adjust grid size */
  margin: -3rem 10rem;
  padding-top: calc(
    var(--multiplier) * var(--img-hero-offset) +
      (1 * var(--offset) + (var(--img-margin-top)))
  );
  /*  */
  border: 2px solid var(--dark);
  /* max-width: 1024px; */
}
/* &2 Prepare */

.prepare-sec {
  width: 70%;
}

.prepare-sec p {
  width: 70%;
  margin: auto;
}
/* &2 IN Comman */

/* &3 image */

.sec-img {
  border: 0 solid red;
  /* to make image at center */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-img img {
  border: 0 solid rgb(0, 238, 255);
  width: 100%;
}

.sec-img {
  grid-row: 1/3;
}

.sec-img {
  /* transform: scale(1.1); */
  scale: 1.1;
}
/* &3 text box */

.sec-text h5 {
  margin: 0rem 0 1rem;
}
.sec-text p {
  margin: 0 2rem;
}

.sec-text {
  border: solid var(--dark) 2px;
  padding: 2rem 1rem;
  background-color: var(--white);
  max-width: 30rem;
  height: fit-content;
  margin: 4rem 0 0 0;
  z-index: 2;
  box-shadow: calc(-1 * var(--box-shadow-offset))
      calc(-1 * var(--box-shadow-offset)) 0px var(--accent-04),
    calc(-1 * var(--box-shadow-offset)) calc(-1 * var(--box-shadow-offset)) 0px
      var(--box-shadow-size) rgb(0, 0, 0);
}

/* &3 svgs */

.sec-svgs {
  text-align: start;
  border: 0px solid green;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
  background-color: transparent;
}

/*  */

.text-direct-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  /* --- */
  font-size: 0.8rem;
  width: 10rem;
}

.text-direct-img h6 {
  color: var(--dark);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: var(--accent-01);
  font-size: 1rem;
}
/* &2 sec1(ONLY) */
.sec1 .sec-text {
  box-shadow: var(--box-shadow-offset) calc(-1 * var(--box-shadow-offset)) 0px
      var(--accent-01),
    var(--box-shadow-offset) calc(-1 * var(--box-shadow-offset)) 0px
      var(--box-shadow-size) rgb(0, 0, 0);
}

.sec1 p a {
  background: linear-gradient(
    45deg,
    var(--accent-01),
    var(--accent-04),
    var(--accent-04),
    var(--accent-01)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 800% 800%;
  animation: GradientAnim 5s infinite;
  /*  */
  transition: font-size 0.3s; /* Add a smooth transition effect */
}

.sec1 p a:hover {
  font-size: 105%;
}

/* &2 sec1and3 */
.sec1and3 {
  transform: translate(4rem, 0);
}
/* &3 image */

.sec1and3 .sec-img {
  grid-column: 2/3;
}

.sec1and3 .sec-img img {
  transform: translate(4rem, 2rem) scale(1.3);
}
/* &3 text box */

/* &3 svgs */

.sec1and3 svg:nth-of-type(1) {
  position: relative;
  top: 20%;
  right: 40%;
  /* --- */
  transform: rotate(40.442deg);
}
.sec1and3 svg:nth-of-type(2) {
  position: relative;
  top: 30%;
  right: 50%;
  /* --- */
  transform: rotate(-90deg);
}
/* &3 svgs - text-direct-img  section */

.sec1and3 .text-direct-img {
  position: relative;
  right: -4rem;
  margin: 0 0 auto;
  transform: rotate(-22.442deg);
  order: 1;
}

.sec1and3 .text-direct-img svg {
  /* transform: rotate(-22.442deg); */
  width: 100%;
  margin: 1rem;
  position: relative;
  right: -4rem;
  transform: scaleX(1);
}

/* &2 Sec2 */
.sec2 {
  transform: translate(-4rem, 0);
}
/* &3 image */

.sec2 .sec-img img {
  transform: translate(-4rem, -2rem) scale(1.3);
}
/* &3 text box */

/* &3 svgs */

.sec2 svg:nth-of-type(1) {
  position: relative;
  top: 10%;
  right: 25%;
  /* --- */
  transform: rotate(-22.442deg);
}
.sec2 svg:nth-of-type(2) {
  position: relative;
  top: -10%;
  right: 5%;
  /* --- */
  transform: rotate(0deg);
}
/* &3 svgs - text-direct-img  section */

.sec2 .text-direct-img {
  margin: 0 auto auto -10%;
  transform: rotate(22.442deg);
}

.sec2 .text-direct-img svg {
  /* transform: rotate(-22.442deg); */
  width: 100%;
  margin: 1rem;
  position: relative;
  right: 2rem;
  transform: scaleX(-1);
}
/* &2 sec3 */
/* &3 image */

/* &3 text box */
.sec3 .sec-text {
  box-shadow: var(--box-shadow-offset) calc(-1 * var(--box-shadow-offset)) 0px
      var(--group-01-accent-03),
    var(--box-shadow-offset) calc(-1 * var(--box-shadow-offset)) 0px
      var(--box-shadow-size) rgb(0, 0, 0);
}
/* &3 svgs */

.sec1and3 svg:nth-of-type(1) {
  position: relative;
  top: 10%;
  right: -10%;
  /* --- */
  transform: rotate(-0deg);
}
.sec3 svg:nth-of-type(2) {
  position: relative;
  top: 10%;
  right: 40%;
  /* --- */
  transform: rotate(-90deg);
}

.sec3 .sec-img img {
  transform: translate(4rem, -6rem) scale(1.3);
}
/* &1 CONTACT ME */
.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  /*  */
  padding: 4rem 0;
  border-radius: 4rem 4rem 0 0;
  margin: auto;
  /*  */
  background-color: var(--dark);
}
.contact-me h3 {
  margin: 0;
  padding: 0;
  /*  */
  color: var(--accent-05);
}
.contact-me p {
  margin: 0;
  padding: 0;
  /*  */
  color: var(--white);
  max-width: 40rem;
}

.contact-me a {
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  /*  */
  padding: 10px 20px;
  cursor: pointer;

  /*  */
  border-radius: 0.5rem;
  border: 0.2px solid var(--dark, #000);
  text-transform: uppercase;
}
.contact-me a {
  width: fit-content;
  /*  */
  background: var(--accent-05);
  font-weight: 500;
  /*  */
  transition: transform 0.5s ease;
}

.contact-me a:hover {
  background-color: var(--white);
  transform: translateY(
    0.2rem
  ); /* Adjust the value as needed for the desired downward movement */
}
.contact-me svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

/* &1 ANIMATIONS */

@keyframes GradientAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(15px, -7px) rotate(-3deg);
  }
  50% {
    transform: translate(-15px, -7px) rotate(-3deg);
  }
  75% {
    transform: translate(7px, 7px) rotate(3deg);
  }
}

/* &1 MEDIA QUERIES */

@media screen and (max-width: 1000px) {
  /* &2 General */

  html {
    font-size: 60%;
  }
  html,
  body {
    overflow-x: hidden; /* Prevent horizontal overscroll */
    -webkit-overflow-scrolling: touch; /* Improve scrolling performance on iOS devices */
    overscroll-behavior: contain; /* Adjust the rubber-banding behavior */
  }
  /* &2 Whole Site */
  .Whole-Site {
    width: 100vw;
    margin: 0;
    /* align-items: center; */
  }
  /* &2 Hero */
  .Hero-sec {
    width: 99vw;
    margin: 0.5vw;
    height: 70vh;
  }
  .Hero-sec .main img {
  }
  .Hero-sec svg {
    scale: 0.4;
  }
  /*&3 left side */

  .side-left svg:nth-of-type(1) {
    position: relative;
    top: 10%;
    left: 2%;
    transform: rotate(50deg);
  }

  .side-left svg:nth-of-type(2) {
    position: relative;
    top: 10%;
    left: 5%;
  }

  .side-left svg:nth-of-type(3) {
    position: relative;
    top: 15%;
    left: 2%;
  }
  .side-left svg:nth-of-type(4) {
    position: relative;
    top: 5%;
    left: -2%;
  }
  /*&3 right side */

  .side-right svg:nth-of-type(1) {
    position: relative;
    top: 7%; /* Adjusted from 10% */
    right: 2.8%; /* Adjusted from 30% */
    transform: rotate(50deg);
  }

  .side-right svg:nth-of-type(2) {
    position: relative;
    top: 13%; /* Adjusted from 10% */
    right: 5.3%; /* Adjusted from 50% */
  }

  .side-right svg:nth-of-type(3) {
    position: relative;
    top: 12%; /* Adjusted from 15% */
    right: 1.8%; /* Adjusted from 20% */
  }

  .side-right svg:nth-of-type(4) {
    position: relative;
    top: 2%; /* Adjusted from 5% */
    right: 2.8%; /* Adjusted from 80% */
  }

  /* &2 MID */
  .Whole-Middles {
    margin: -5rem 1rem;
    padding-bottom: 5rem;
  }
  .Whole-mid-sec {
    justify-items: center;
    grid-template-columns: 50% 50%;
  }
  .prepare-sec {
    width: 90%;
  }
  /*  */
  .Whole-mid-sec .sec-text {
    grid-column: 1/3;
    max-width: none;
    width: 80%;
  }
  .Whole-mid-sec .sec-svgs {
    width: 100%;
  }
  .Whole-mid-sec .sec-img {
    grid-row: 2/3;
    scale: 1.2;
    z-index: 10;
  }

  .sec1and3 {
    transform: translate(var(--offset-sec-in-MIDDLES), 0);
  }

  .sec2 {
    transform: translate(calc(-1 * var(--offset-sec-in-MIDDLES)), 0);
  }

  /*  */

  .sec1and3 .text-direct-img {
    margin: 0 auto 40% 30%;
  }
  .sec2 .text-direct-img {
    margin: 0 auto 40% -10%;
  }

  /*  */

  .sec1and3 .text-direct-img {
    translate: calc(-1 * var(--offset-text-direct-img-mobile));
  }
  .sec2 .text-direct-img {
    translate: calc(1 * var(--offset-text-direct-img-mobile));
  }
  /*  */
  .sec1and3 .sec-img,
  .sec-svgs {
    transform: translateX(calc(-1 * var(--offset-side-imgNsvg-mobile)));
  }
  .sec2 .sec-img,
  .sec2 .sec-svgs {
    transform: translateX(calc(1 * var(--offset-side-imgNsvg-mobile)));
  }
  /*  */
  .sec1and3 svg:nth-of-type(2) {
    right: -20%;
  }
  .sec1and3 svg:nth-of-type(1) {
    top: 40%;
    right: -80%;
  }
  .sec2 svg:nth-of-type(2) {
    right: 40%;
  }
  .sec2 svg:nth-of-type(1) {
    top: 20%;
    right: 20%;
  }
  /* &2 Contact me */
  .contact-me {
    padding: 4rem 3rem;
  }
}
